In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('../Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# df2 = df.copy()
# df2['home_ownership'] = le.fit_transform(df2['home_ownership'])
# df2['verification_status'] = le.fit_transform(df2['verification_status'])
# df2['issue_d'] = le.fit_transform(df2['issue_d'])
# df2['pymnt_plan'] = le.fit_transform(df2['pymnt_plan'])
# df2['next_pymnt_d'] = le.fit_transform(df2['next_pymnt_d'])
# df2['initial_list_status'] = le.fit_transform(df2['initial_list_status'])
# df2['application_type'] = le.fit_transform(df2['application_type'])
# df2['hardship_flag'] = le.fit_transform(df2['hardship_flag'])
# df2['debt_settlement_flag'] = le.fit_transform(df2['debt_settlement_flag'])
df2 = pd.get_dummies(df, columns=["home_ownership", 
                                  "verification_status", 
                                  "issue_d", 
                                  "pymnt_plan", 
                                  "next_pymnt_d", 
                                  "initial_list_status", 
                                  "application_type", 
                                  "hardship_flag", 
                                  "debt_settlement_flag"])

X = df2.copy()
# X = df2.drop(columns="loan_status")
X = df2.drop(columns="loan_status")

# Create our target
y = df2["loan_status"].values

df2.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.383161,0.616839,0.123879,0.876121,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.486161,0.486161,0.329446,0.329446,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [8]:
# Check the balance of our target values
df2['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    random_state=1)
X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [10]:
# Resample the training data with the RandomOversampler
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(bootstrap=True, class_weight=None,
                criterion='gini', max_depth=None, max_features='auto',
                max_leaf_nodes=None, min_impurity_decrease=0.0,
                min_samples_leaf=2, min_samples_split=2,
                min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
                oob_score=False, random_state=1, replacement=False,
                sampling_strategy='auto', verbose=0, warm_start=False)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(min_samples_leaf=2, n_jobs=1, random_state=1)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_predbrf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_predbrf)

0.7658112513777102

In [12]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predbrf) 

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           66           35
Actual 1         2084        15020

In [13]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_predbrf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.65      0.88      0.06      0.76      0.56       101
   low_risk       1.00      0.88      0.65      0.93      0.76      0.59     17104

avg / total       0.99      0.88      0.65      0.93      0.76      0.59     17205

In [14]:
# List the features sorted in descending order by feature importance
# Create a random forest classifier.
importances = brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.08931192758944538, 'total_rec_prncp'),
 (0.06806105268435561, 'total_pymnt_inv'),
 (0.053046202998411, 'total_rec_int'),
 (0.0526994254392195, 'total_pymnt'),
 (0.05103410280474766, 'last_pymnt_amnt'),
 (0.03339554035695984, 'int_rate'),
 (0.024574356914630387, 'issue_d_Jan-2019'),
 (0.019139585707156053, 'out_prncp_inv'),
 (0.017844966951582684, 'mths_since_recent_inq'),
 (0.017537202457103745, 'installment'),
 (0.017372751496892436, 'dti'),
 (0.01582044609898608, 'avg_cur_bal'),
 (0.015665074603654697, 'tot_hi_cred_lim'),
 (0.015447181284578169, 'total_bc_limit'),
 (0.015263507965231111, 'mths_since_rcnt_il'),
 (0.015185723282717962, 'out_prncp'),
 (0.015150700066597632, 'total_bal_il'),
 (0.014803389488623673, 'total_bal_ex_mort'),
 (0.014611418464908132, 'bc_open_to_buy'),
 (0.01435607308572852, 'total_il_high_credit_limit'),
 (0.014210080347554136, 'revol_bal'),
 (0.013568023104213464, 'max_bal_bc'),
 (0.013434868462109294, 'issue_d_Mar-2019'),
 (0.01330415775953406, 'mo_sin_old_rev_tl_op'),
 (0.013287872526886499, 'mo_sin_old_il_acct'),
 (0.012637982943965821, 'bc_util'),
 (0.012617944272130095, 'num_rev_accts'),
 (0.012381615158887192, 'annual_inc'),
 (0.011740266023771555, 'pct_tl_nvr_dlq'),
 (0.011515312011016361, 'total_rev_hi_lim'),
 (0.011365396667560692, 'all_util'),
 (0.011294920856219843, 'tot_cur_bal'),
 (0.01085433651374545, 'loan_amnt'),
 (0.010853697311765435, 'mths_since_recent_bc'),
 (0.010739396247115255, 'inq_last_12m'),
 (0.010508460009384142, 'il_util'),
 (0.009333399517897788, 'open_acc'),
 (0.009191096155563011, 'num_il_tl'),
 (0.009056809934637765, 'num_rev_tl_bal_gt_0'),
 (0.00881003109132415, 'num_bc_tl'),
 (0.00879205861455067, 'num_sats'),
 (0.00852184065875968, 'acc_open_past_24mths'),
 (0.008299434478678935, 'total_acc'),
 (0.008178163102844341, 'num_op_rev_tl'),
 (0.008148745184047708, 'mo_sin_rcnt_tl'),
 (0.008032157258107207, 'open_acc_6m'),
 (0.007736823954136854, 'num_actv_rev_tl'),
 (0.007280223758306972, 'num_actv_bc_tl'),
 (0.007188382919757247, 'total_rec_late_fee'),
 (0.00697771584684635, 'inq_fi'),
 (0.006745203497837587, 'mo_sin_rcnt_rev_tl_op'),
 (0.006717305248351179, 'percent_bc_gt_75'),
 (0.0063365484715209265, 'total_cu_tl'),
 (0.0061153622265208395, 'open_rv_24m'),
 (0.005621555929574193, 'open_act_il'),
 (0.005352695612380811, 'num_tl_op_past_12m'),
 (0.005344252375970831, 'num_bc_sats'),
 (0.0052116123098677, 'issue_d_Feb-2019'),
 (0.0052112936700750056, 'open_il_24m'),
 (0.005125536228751445, 'inq_last_6mths'),
 (0.005099775831432888, 'next_pymnt_d_May-2019'),
 (0.004517448765237074, 'mort_acc'),
 (0.004462470251225657, 'open_il_12m'),
 (0.004363362105416806, 'open_rv_12m'),
 (0.004165651052877506, 'next_pymnt_d_Apr-2019'),
 (0.00305214349169951, 'tot_coll_amt'),
 (0.003000053814020481, 'delinq_2yrs'),
 (0.0028103473941830455, 'application_type_Joint App'),
 (0.00260735179027356, 'num_accts_ever_120_pd'),
 (0.0022991751853632873, 'verification_status_Verified'),
 (0.0021096308019143404, 'home_ownership_MORTGAGE'),
 (0.002106771306302576, 'verification_status_Source Verified'),
 (0.002002861614990906, 'home_ownership_RENT'),
 (0.00190253579097074, 'verification_status_Not Verified'),
 (0.0016703281976844923, 'home_ownership_OWN'),
 (0.0013341133407438832, 'initial_list_status_w'),
 (0.001196334453700946, 'application_type_Individual'),
 (0.0008979387696709931, 'initial_list_status_f'),
 (0.0007738865814766536, 'pub_rec'),
 (0.0007544044425171931, 'pub_rec_bankruptcies'),
 (0.0006882922498494759, 'num_tl_90g_dpd_24m'),
 (0.00022191476474922456, 'collections_12_mths_ex_med'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'home_ownership_ANY'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [15]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(base_estimator=None, n_estimators=100, n_jobs=1,
            random_state=1, replacement=False, sampling_strategy='auto',
            verbose=0, warm_start=False)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, n_jobs=1, random_state=1)

In [16]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_predboost = eec.predict(X_test)
balanced_accuracy_score(y_test, y_predboost)

0.9316600714093861

In [19]:
# Display the confusion matrix
y_pred = eec.predict(X_test)
cm_boost = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df_boost = pd.DataFrame(
    cm_boost, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df_boost

          Predicted 0  Predicted 1
Actual 0           93            8
Actual 1          983        16121

In [20]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205

# Analysis
The